doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // CSRF Token
        meta(name='csrf-token', content=_csrf)
        title= title
        // Scripts
        script(src='/js/app.js', defer='')
        // Fonts
        link(rel='dns-prefetch', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css?family=Nunito', rel='stylesheet', type='text/css')
        // Styles
        link(rel='stylesheet', href='/css/app.css')
    body
        #app
            nav.navbar.navbar-expand-md.navbar-light.navbar-laravel
                .container
                    a.navbar-brand(href="/")
                        | #{title}
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarSupportedContent.collapse.navbar-collapse
                        // Left Side Of Navbar
                        ul.navbar-nav.mr-auto
                        // Right Side Of Navbar
                        ul.navbar-nav.ml-auto
                            // Authentication Links
                            if !authenticated
                                li.nav-item
                                    a.nav-link(href="/login") Login
                                li.nav-item
                                    a.nav-link(href="/register") Register
                            else
                                li.nav-item.dropdown
                                    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', v-pre='')
                                        | #{user.name}
                                        span.caret
                                    .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
                                        a.dropdown-item(href="/logout", onclick="event.preventDefault(); \
                      document.getElementById('logout-form').submit();")
                                            Logout
                                        form#logout-form(action="/logout", method='POST', style='display: none;')
                                            input(type='hidden', name='_csrf', value=_csrf)
            main.py-4
                block content
